<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.freedomofdev.com/">
                        Freedom Of Dev
                    </a>
                </li>
                <li>
                    <a href="https://www.freedomofdev.com/a-propos/">
                        A propos
                    </a>
                </li>
                <li>
                    <a href="https://www.freedomofdev.com/nos-services-de-base/developpement-agile-de-logiciels/">
                        Nos services de base
                    </a>
                </li>
                <li>
                    <a href="https://www.freedomofdev.com/nous-contacter/">
                        Nos Contacts
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <!--<a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web. -->
        </div>
    </div>
</footer>
