<div class="main-content">
    <div class="container-fluid">
        <button [routerLink]="['/recruit-me/add-resprh']"  mat-raised-button >ajouter responsable RH </button>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des candidats</h4>
                        <p class="card-category"> Liste des candidats et informations supplémentaires</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-secondary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nom et prenom
                                </th>
                                <th>
                                    Action
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let responsableRH of responsablesRH">
                                    <td>{{responsableRH.id}}</td>
                                    <td>{{responsableRH.nomUtilisateur}}</td>
                                    <td>{{responsableRH.adresseEmail}}</td>
                                    <td>{{responsableRH.motpasse}}</td>
                                    <td>{{responsableRH.nom}}</td>
                                    <td>{{responsableRH.prenom}}</td>
                                    <td>{{responsableRH.dateNaissance}}</td>
                                    <td>{{responsableRH.adresse}}</td>
                                    <td>
                                        <button [routerLink]="['/update-resprh/'+responsableRH.id]"  mat-raised-button >Modifier</button>
                                        <!-- <mat-icon [routerLink]="['/update-candidat/'+candidat.id]">update</mat-icon>-->

                                        <button (click)="deleteResponsableRH(responsableRH.id)" class="btn btn-danger">Supprimer</button></td>
                                    <!--  <mat-icon (click)="deleteCandidat(candidat.id)">delete</mat-icon> </td> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
