<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Passer un test technique</h3>
                        <h5 class="card-category">Votre test technique est prêt !</h5>
                    </div>
                    <div class="card-body">
                        <form >
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <label>Nom et Prénom :</label>
                                        <textarea cols="30" rows="1"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <label>Recruteur :</label>
                                        <textarea cols="20" rows="1"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <label>Test :</label>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <label>durée : 1h30min</label>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-secondary">
                                        <th>Question1 :</th>
                                        <tr><input matInput name="question1"  placeholder="question1" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question2 :</th>
                                        <tr><input matInput name="question2"  placeholder="question2" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question3 :</th>
                                        <tr><input matInput name="question3"  placeholder="question3" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question4 :</th>
                                        <tr><input matInput name="question4"  placeholder="question4" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question5 :</th>
                                        <tr><input matInput name="question5"  placeholder="question5" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question6 :</th>
                                        <tr><input matInput name="question6"  placeholder="question6" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question7 :</th>
                                        <tr><input matInput name="question7"  placeholder="question7" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question8 :</th>
                                        <tr><input matInput name="question8"  placeholder="question8" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question9 :</th>
                                        <tr><input matInput name="question9"  placeholder="question9" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                        <thead class=" text-secondary">
                                        <th>Question10 :</th>
                                        <tr><input matInput name="question10"  placeholder="question10" required type="text"></tr>
                                        <textarea cols="150" rows="2"></textarea>
                                        </thead>
                                     <!--   <tbody>
                                        <tr>
                                            <td>
                                        <button mat-raised-button type="reset" class="btn btn-danger pull-right">Annuler</button>
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Valider</button>
                                        <div class="clearfix"></div>
                                            </td>

                                        </tr>
                                        </tbody> -->
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <h3>BONNE CHANCE !!</h3>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <label></label>
                                    </mat-form-field>
                                </div>
                            </div>

                           <button mat-raised-button type="reset" class="btn btn-danger pull-right">Annuler</button>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Valider</button>
                            <div class="clearfix"></div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

