<div class="main-content">
    <div class="container-fluid">
        <button [routerLink]="['/user-profile']"  mat-raised-button >Ajouter candidat </button>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des candidats</h4>
                        <p class="card-category"> Liste des candidats et informations supplémentaires</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-secondary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nom et prenom
                                </th>
                                <th>
                                    Poste souhaité
                                </th>
                                <th>
                                    Recruteur
                                </th>
                                <th>
                                    Test Technique
                                </th>
                                <th>
                                    Résultat du test
                                </th>
                                <th>
                                    Date d'entretien
                                </th>
                                <th>
                                    Points d'amélioration
                                </th>
                                <th>
                                    Action
                                </th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
